<launch>


<node name="laser_node" pkg="gl_depth_sim" type="laser_node" output="screen">
  <param name="/path" value="/home/cwolfe/a5_ws/src/gl_depth_sim/meshes/cylinder.stl" />
  <!--param name="/width" value="2095" /-->
  <!--param name="/height" value="5" /-->
  <!--param name="/fx" value="604.77" /-->
  <!--param name="/fy" value="604.77" /-->
  <!--param name="/cx" value="1047" /-->
  <!--param name="/cy" value="0" /-->
  <!--param name="/z_near" value="0.1" /-->
  <!--param name="/z_far" value="30.0" /-->

  <param name="/width" value="640" />
  <param name="/height" value="480" />
  <param name="/fx" value="550" />
  <param name="/fy" value="550" />
  <param name="/cx" value="320" />
  <param name="/cy" value="240" />
  <param name="/z_near" value="0.25" />
  <param name="/z_far" value="10.0" />

</node>

<node name="rviz" pkg="rviz" type="rviz" output="screen" />

</launch>


